@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Libre+Baskerville&family=Mukta:wght@400;700&family=Quicksand:wght@300;500&family=Teko:wght@300;400;500;600;700&display=swap");

#root, html{
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url(./images/background.jpg);
  background-size: cover;

  height: 100vh;
  width: 100vw;

  color: rgb(7, 57, 80);
  font-family: 'Archivo Narrow';
}

.flex{
  display: flex;
}

h1{
  font-size: 5vh;
}

nav{
  background-color: rgb(7, 57, 80);

  margin: 0 auto;
  padding-top: 1vh;

  box-shadow: 0px 5px 30px 30px rgb(7, 57, 80);

  position: relative;
}

  ul{
    margin: 0 auto;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  a{
    color: white;
    text-decoration: none;
    font-size: 5vh;
  }

.wrapper {
  padding: 25px;

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  flex-direction: column;

  width: 70vw;
  height: 70vh;

  background: rgba(219, 216, 216, 0.092);
  box-shadow: 0 8px 32px 0 rgba(7, 57, 80, 0.75);

  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(4px);
}

.app_image {
  width: 30vw;
  height: 40vh;

  background-size: cover;
  background-position: center;

  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(7, 57, 80, 0.75);
}

.rightSide{
  width: 40vw;

  align-self: center;
  justify-content: space-evenly;
}

input{
  width: 15vw;
  height: 3vh;
  
  font-size: 2vh;

  margin-left: 2vw;
}

.location_searcher {
  width: 10vw;
  height: 5vh;

  font-size: 2vh;

  padding: .5vh;
  color: white;
  background-color: rgb(7, 57, 80);

  border: none;
  border-radius: 5px;

  margin-left: 1vw;

  align-self: center;
}
.location_input {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #333;
  border-radius: 5px;
  margin-left: 0;
}

.nav{
  width: 70vw;
}

.search{
  margin-bottom: 2vh;
  align-items: center;

  border: 2px solid rgb(7, 57, 80, .5);
  border-radius: 40px;

  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.temp {
  margin: 5px;
  white-space: nowrap;

  font-size: 2.3vh;
  color: white;
}
  .temp img{
    width: 40px;
    height: 40px;

    align-self: center;

    margin-right: .5vw;
  }

.info{
  justify-content: left;
  padding-left: 2vw;
}

.save{
  width: 10vw;
  height: 5vh;

  font-size: 2vh;

  padding: .5vh;
  color: white;
  background-color: rgb(7, 57, 80);

  border: none;
  border-radius: 5px;
}
  .save:hover{
    background-color: rgb(10, 81, 114);
    border: 1px solid rgb(7, 57, 80);
  }
